/* comments for grader: 
1. please vist Essintials.html to see the style of the table.
2. please vist donation.html to see the modification of the input. 
3. for all other general styles, you can access whatever html you would like. 
*/

th {
    text-transform: uppercase;
}

a {
    color: green;
}

.top{
    background-color: rgb(75, 75, 75);
}

em {
    background-color: red;
}
em#the_most_important{
    background-color: gold;
    text-transform: uppercase;
}

h2 {
    font-family: sans-serif;
}
h1, h2, h3, h4, h5, h6{
    text-transform: capitalize;
}

section p::first-letter {
    font-size: 2em; 
}
tr :hover{
    background-color: white;
}
nav ol {
    display: inline;
}
nav a {
    text-decoration: none;
}
nav a#first_nav {
    text-decoration: underline;
}

tbody tr:nth-child(odd){
    background-color: aqua;
}
::selection{
    background-color: yellow;
}
body a:hover{
    cursor: pointer;
}
nav a:hover{
    cursor: grab;
}

input {
    height: 20px;
    border-color: lightgrey;
}

input#donation{
    height: 50px;
}